.btn {
    font-size: 16px;
    padding: 6px;
    line-height: 20px;
    padding-left: 35px;
    padding-right: 35px;
    border-radius: 20px;
    border-color: #22273b;
    color: #fff;
    background: rgb(2,0,36);
    background: radial-gradient(circle, 
    rgba(2,0,36,1) 14%, 
    rgba(34,39,48,1) 66%, 
    rgba(0,212,255,1) 100%);
    cursor: pointer;
}
.btn:hover {
    background: rgb(2,0,36);
    background: radial-gradient(circle, 
    rgba(2,0,36,1) 8%, 
    rgba(34,39,48,1) 20%, 
    rgba(0,212,255,1) 100%);
}